h1{
    text-shadow: 3px 3px 3px red;
    text-shadow: 3px 3px 3px red, 7px 7px 7px green;
}
.box{
    background-color: aqua;
    width: 200px;
    height: 200px;
    box-shadow: -10px -10px 15px green, 10px 10px 15px magenta;
    color: red;

}
.mydiv{
    background-color: yellow;
    width: 200px;
    height: 200px;
    margin-top: 30px;
    margin-left: 10px;
    box-shadow: 0 0 0 4px black, 0 0 0 8px blue, 0 0 0 12px red;
}
.image{
        position: relative;
        display: inline-block;
        margin-top: 40px;
        margin-left: 10px;
}
.text {
    position: absolute;
    bottom: 76%;
    right: 77.5%;
    background-color: rgba(255, 25, 255, 0.7);
    padding: 10px;
    font-weight: bold;
  }