@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500&family=Raleway:wght@400;500;600;700&family=Roboto+Flex:opsz,wght@8..144,400;8..144,500&display=swap');

:root{
    --blue: #4E5DC0;
    --white: #fff;
    --black: #000;
    --h2Color: #16171C;
    --navColor: #777C85;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}
body{
    font-family: 'Raleway', sans-serif;
    font-size: 1.6rem;
}

a{
    color: inherit;
    text-decoration: none;
}
.wrapper{
    max-width: 135rem;
    margin: 2.5rem auto;
    padding: 2rem 2.5rem;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo img{
    width: 100%;
    height: 100%;
}

header nav{
    max-width: 500px;
    flex-grow: 0.5;
}
header nav ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    position: relative;
}

header nav ul li{
    color: var(--navColor);
    font-weight: 600;
    font-size: 1.8rem;
}
header nav ul li:hover{
    text-decoration: underline;
    color: #4E5DC0;
    transform: scale(1.03);
    
}

header .btnImg button{
    width: 16.5rem;
    height: 5.4rem;
    font-family: inherit;
    font-size: 1.6rem;
    font-weight: 700;
    color: var(--white);
    background-color: var(--blue);
    border: none;
    border-radius: 0.5rem;
    transition: all 0.2s;
}

.btnImg button:hover{
    background-color: #3b5998;
    transition: 0.3s;
    transform: scale(1);
}

.section{
    display: flex;
    justify-content: space-between;
    margin: 13rem 0;
}
.section .text{
    width: 45%
}
.section .text h2{
    width: max-content;
    padding-bottom: 2rem;
    font-family: 'Roboto Flex', sans-serif;
    font-size: 3.8rem;
    font-weight: 500;
    color: var(--h2Color);
    font-stretch: ultra-condensed;
    position: relative;
}

.section .text h2::after{
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 90%;
    height: 0.1rem;
    background-color: rgba(0, 0, 0, 0.5);
}