@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'Raleway';
    font-weight: 600;
    src: url(fonts/raleway/Raleway-VariableFont_wght.ttf) format("tff");
  }

  @font-face {
    font-family: 'Raleway';
    font-weight: 700;
    src: url(fonts/raleway/Raleway-VariableFont_wght.ttf) format("tff");
  }

  @font-face {
    font-family: 'Raleway';
    font-weight: 500;
    src: url(fonts/raleway/Raleway-VariableFont_wght.ttf) format("tff");
  }

  @font-face {
    font-family: 'Roboto Flex';
    font-weight: 400;
    src: url(./fonts/roboto/RobotoFlex-VariableFont_GRAD\,XTRA\,YOPQ\,YTAS\,YTDE\,YTFI\,YTLC\,YTUC\,opsz\,slnt\,wdth\,wght.ttf) format("tff");
  }